.footer {
	/* position: fixed; */
	height: 75px;
	background: rgb(0, 0, 80);
	bottom: 0;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 15px;
	margin: 0;
	text-align: center;
	color: black;
}

.footer a {
	color: white;
}
.footer a:hover {
	color: white;
}
.row-fluid {
	color: white;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
