.footer {
position: fixed;
height: 75px;
background: rgb(255, 204, 213);
bottom: 0;
width: 100%;
padding-top: 10px;
padding-bottom: 15px;
margin: 0;
text-align: center;
color: black;
}

.footer a {
    color: gray;
}
.footer a:hover {
    color: white;
}
.row-fluid {
    margin-bottom: 7px;
    color: white;
}
