.wedding-party-wrapper {
  border: 1px solid rgb(214, 214, 214);
  border-radius: 3px;
  margin-bottom: 30px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 20px;
  height: auto;
  background-color: white;
}
.friend-pic-div {
  margin-top: 15px;
}
img.friend-pic {
  height: 150px;
  background-position: center;
  border-radius: 3%;
}

.friend-name {
  font-size: 20px;
  padding-top: 16px;
}
.friend-position {
  font-size: 18px;
}