nav {
    padding: 0 40px;
    /* background: rgba(0, 0, 0, 0); */
    background-color: #fff;
    box-shadow: none;
    z-index: 3;
    
}
.brand-logo {
    color: grey!important;
    font-size: 15px!important;
}
/* .nav-wrapper {
    border: none;
    
} */
.nav-item {
    
    text-align: center;
}
.nav-link {
    color: grey;
}
.nav-link:hover {
    color: rgb(255, 204, 213);
    box-shadow: none!important;
}
.sidenav {
    background: white;
}
.sidenav .nav-item:hover {
    color: rgb(255, 204, 213);
}

i.material-icons {
    color: grey;
}

