.jumbotron {
    text-align: center;
    margin: 35px 0;
    border-radius: 3px;
}
.jumbotron .ampersand {
    text-align: center;
}

.title {
    font-size: 60px;
    font-weight: 400;
    color: white;
    margin-top: 120px;
}
.location {
    font-size: 25px;
    color: white;
}
.date {
    font-size: 25px;
    color: white;
    padding-bottom: 35px;
    margin-bottom: 65px;
}

@media screen and (max-width: 767px){
    .jumbotron.col {
        height: 50px;
        margin: 0;
    }
    .title {
        font-size: 50px;
        margin-top: 0px;
    }
    #jeewon {
        margin-top: 50px;
    }
    .date {
        padding-bottom: 10px;
    }
}