.rsvp-wrapper {
	background-color: rgb(238, 238, 238);
	border-radius: 3px;
	padding: 50px 0 25px 0;
	margin: 50px 0;
	height: 77vh;
}
.rsvp-title {
	text-align: center;
	font-size: 20px;
	margin-top: 15vh;
	height: 100%;
}
.rsvp-wrapper p {
	color: grey;
	height: 50%;
}
