.travel-img-wrapper {
	margin-top: 200px;
}
.travel-img {
	text-align: center;
}
/* .top-img-wrapper {
	margin-top: 200px;
} */

.travel-info-col {
	padding: 0 40px !important;
	margin-bottom: 20px !important;
}
.travel-link {
	color: #ce9c3c;
}
.flight-link {
	text-align: center;
}
.info-title {
	text-align: center;
	color: #f3f2f2;
	margin-bottom: 20px;
}
.info-content {
	color: #f3f2f2;
}

@media screen and (max-width: 767px) {
	.travel-img-wrapper {
		margin-top: 100px;
	}
	.info-content {
		text-align: center;
	}
}
